html {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
}

body {
  overflow-x: hidden;
  color: rgb(29, 29, 31);
  letter-spacing: -0.05em;
  background: #fdfbe1;
  margin: 0;
  padding: 0;
}

a {
  color: rgb(29, 29, 31);
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
